
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form name='frmUser' method='post' action="/users" >
         
           <input type='hidden' name='id' />
         
         <div class="form-group">
            <label for="fname" >First Name*: </label>
            <input class="form-control" id="fname" type='text' name='fname' placeholder="First Name" >
         </div>
       
         <div class="form-group">
            <label for="lname">Last Name: </label>
            <input class="form-control" id="lname" type='text' name='lname' placeholder="Last Name" >
         </div>
         
         <div  class="form-group">
            <label for="uname">User Name*: </label>
            <input class="form-control" id="uname" type='text' name='uname' placeholder="Username" >
         </div>
        
         <div class="form-group">
            <label for="pwd">Password: </label>
            <input class="form-control"  id="pwd" type='text' name='pwd' placeholder="Password" >
         </div>
     
         <div class="form-group">
            <label for="email">Email: </label>
            <input class="form-control" id="email" type='email' name='email' placeholder="Email" >
         </div>
      
         <div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </div>

      </form>
